# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/playwright-report/
/blob-report/
/playwright/.cache/
*.test.results.json

# next.js
/.next/
/out/
.next/
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.test
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Drizzle
/drizzle/migrations/*.sql
.drizzle/
drizzle.config.js.map

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js
**/public/fallback-*.js.map

# Sentry
.sentryclirc

# Logs
logs
*.log

# Cache
.cache/
.npm/ 